- if @trees
  %h3 Tree Map
  #map
    = gmaps(:markers => {:data => @json },        |
            :map_options => { :auto_zoom => true, :zoom => 10,   |
            :center_on_user => false })                           |

- if @tree
  %h3 Tree Map

  #map
  = gmaps(:markers => {:data => @json },        |
          :map_options => { :auto_zoom => true, :zoom => 10,   |
          :center_on_user => false }) |