.agency_list
  .btn-group
    %a{ class: "btn dropdown-toggle btn-block", data: {"toggle" => "dropdown"}, href: '#'}
      %span{ :class => "caret" }
      %i
        = @agency if @agency
        = "All Trees" unless @agency
    %ul{ :class => "dropdown-menu" }
      %li
        = link_to "All Trees", trees_path
      - Agency.all.each do |a|
        - if a.trees.count != 0
          %li
            = link_to a.list_s, agency_trees_path(a)
