/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require gmaps4rails
 *= require_tree .
 */

body {
    background-image: url('../images/background.jpg');
    background-position-x: 50%;
    background-position-y: 30%;
    background-size: 110%;
}

.content {
    background-color: rgba(255,255,255,.8);
    height: 30%;
}

#map {
    height: 400px;
    width: 100%;
    float: right;
}